html {
	font-size: 62.5%;
}


body, button, input, select, textarea {
    color: #666;
    font-family: "Droid Sans",Arial,Helvetica,sans-serif;
    font-size: 2rem;
    line-height: 1.5;
	margin: 0;
}

a {
	text-decoration: underline;
	color: #666;
}

ul {
	list-style: outside none none;
	padding-left: 0;
	font-family: inherit;
}

ul > li:first-of-type {
    border-top: 0px none;
}

ul li {
	border-top: 1px solid #a4bbe2;
	margin: 5px 0px 0px;
	padding: 5px 0px 0px;
}

h6 {
display: inline;
font-size: 0.67em;
-webkit-margin-before: 0em;
-webkit-margin-after: 0.5em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-weight: bold;
}

.container {
	width: 1122px;
	background-color: #FFF;
	margin: 0 auto;
}

.header {
	border-top: 9px solid black;
	margin: 0;
}

.header-search-wrapper {
	height: 35px;
	border-bottom: 1px solid #a4bbe2;
	margin: 0;
}

.header-search {
	margin: 0;
    float: right;
    position: relative;
    width: auto;
}

.search-form {
    border: 0px none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0px;
    outline: 0px none;
    padding: 0px;
    vertical-align: baseline;
}

.screen-reader-text {
    position: absolute;
    left: -1000em;
	   clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

.header-search .search-field {
    border-width: medium medium medium 1px;
    border-style: none none none solid;
    border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color #a4bbe2;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-radius: 0px;
    font-size: 1.2rem;
    padding-left: 10px;
    position: relative;
    color: #666;
    text-decoration: none;
    width: 265px;
    height: 33px;
    z-index: 0;
}

.header-search .search-button {
    background: none repeat scroll 0% 0% transparent;
    z-index: 1;
}

.header-search .search-submit {
    background: none repeat scroll 0% 0% transparent;
    border: 0px none;
    box-shadow: none;
    color: #E4E4E2;
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    text-indent: -9999px;
    text-shadow: none;
    width: 40px;
    height: 40px;
}

.site-branding {
	margin: 0;
	padding: 20px 0px;
}

.site-title {
	color: black;
	font-family: inherit;
	font-size: 2.4rem;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
}

.site-description {
	color: black;
	font-family: inherit;
	font-size: 1.4rem;
	font-weight: normal;
	margin: 0;
}

.content {
	margin: 0;
}

.sidebar-menu {
	margin: 0;
	float: left;
	position: relative;
	width: 20%;
}

.sidebar-menu a{
	text-decoration: none;
	color: #666;
}

.sidebar-menu a:hover, a:active, a:focus {
	color: #dfdfdf;
}

.sidebar-menu-title {
	margin: 0;
	background-color: #577ebf;
	color: #FFF;
	padding-left: 10%;
	font-size: 2.4rem;
	font-weight: normal;
}

.page-content-wrapper {
	margin: 0;
	float: right;
	position: relative;
	width: 75%;
}

.page-content {
	margin: 0;
	text-align: left;
}

.page-content p {
	text-indent: 50px;
	text-align: justify;
}

.page-title {
	margin: 0;
	background-color: #577ebf;
	color: #FFF;
	padding-left: 2%;
	font-size: 2.4rem;
	font-weight: normal;
}

.page-content-inner {
	margin: 0;
	padding: 30px 0px;
}

.profile-img {
	float: left;
	display: inline;
	margin: 0 1.5em 0.75em 0;
}

#p-en {
	text-align: justify;
	color: #577ebf;
}

#submit-input {
	border: 1px solid #ccc;
	border-color: #ccc #ccc #bbb #ccc;
	border-radius: 3px;
	background: #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	cursor: pointer;
	-webkit-appearance: button;
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}